<h2>{{controller.page}}</h3>
<md-button class="md-primary md-raised">Login</md-button>
<div layout="column" layout-align="center">
    <md-content layout="row" layout-align="center">
        <form layout="column" layout-align="center" ng-submit="controller.login()">
            <md-input-container>
                <label>Username:</label>
                <input type="text" ng-model="controller.user.username"/>
            </md-input-container>
            <md-input-container>
                <label>Password:</label>
                <input type="password" ng-model="controller.user.password"/>
            </md-input-container>
            <md-input-container>
                <md-button class="md-primary md-raised">Login</md-button>
            </md-input-container>
        </form>
    </md-content>
</div>