<md-content>
    <div layout="column" flex layout-align="center center">
        <div layout="row" layout-align="center center" flex>
            <div md-whiteframe="12" layout-align="center center"layout="column" flex="45">
                <div layout="row" layout-align="center">
                    <h1>{{controller.product.name}} by {{controller.product.maker}}</h1>
                </div>
                <div ng-repeat="img in controller.product.images">
                    <img width="100%"ng-src="{{img}}">
                </div>
                <div md-whiteframe='12' layout="row" flex='100' ng-show="controller.userTag">
                    <!--To avoid a product or unavoid it-->
                    <md-button class="md-warn" ng-click="controller.add('badProducts', 'product')" ng-hide="controller.showOrHide('badProducts', 'product')">Unavoided</md-button>
                    <md-button class="md-warn md-raised" ng-click="controller.subtract('badProducts', 'product')" ng-hide="!(controller.showOrHide('badProducts', 'product'))">Avoided</md-button>
                    <!--To fav a product or unfav it-->
                    <md-button class="md-primary" ng-click="controller.add('favProducts', 'product')" ng-hide="controller.showOrHide('favProducts', 'product')">Unfavored</md-button>
                    <md-button class="md-primary md-raised" ng-click="controller.subtract('favProducts', 'product')" ng-hide="!(controller.showOrHide('favProducts', 'product'))">Favored</md-button>
                    
                    
                </div>
            </div>
            <div flex>
            
            </div>
            <div md-whiteframe="12" layout-margin flex="50" layout="column">
                <h2>What's Inside?</h2>
                <div ng-if="controller.currentIng">
                    <!--This will be the place to show all the info.-->
                    <!--Title-->
                    <h2 ng-model="controller.currentIng.names[0]">{{controller.currentIng.names[0]}}</h2>
                    <!--Definition-->
                    <b ng-if="controller.currentIng.definition">What is it?</b>
                    <p ng-model="controller.currentIng.definition">{{controller.currentIng.definition}}</p>
                    <!--Description-->
                    <b ng-if="controller.currentIng.description">Why is it in my food?</b>
                    <p ng-model="controller.currentIng.description">{{controller.currentIng.description}}</p>
                    <!--Health Cons-->
                    <b ng-if="controller.currentIng.healthCons">Health Cons</b>
                    <p ng-model="controller.currentIng.healthCons">{{controller.currentIng.healthCons}}</p>
                    <!--Health Pros-->
                    <b ng-if="controller.currentIng.healthPros">Health Pros</b>
                    <p ng-model="controller.currentIng.healthPros">{{controller.currentIng.healthPros}}</p>
                    <div layout='row' flex="100" ng-show="controller.userTag">
                        <!--To avoid or unavoid an ingredient-->
                        <md-button class="md-warn" ng-click="controller.add('badIngredients', 'currentIng')" ng-hide="controller.showOrHide('badIngredients', 'currentIng')">Unavoided</md-button>
                        <md-button class="md-raised md-warn" ng-click="controller.subtract('badIngredients', 'currentIng')" ng-hide="!(controller.showOrHide('badIngredients', 'currentIng'))">Avoided</md-button>
                        <!--To favorite an ingredient-->
                        <md-button class="md-primary" ng-click="controller.add('favIngredients', 'currentIng')" ng-hide="controller.showOrHide('favIngredients', 'currentIng')">Unfavored</md-button>                        
                        <md-button class="md-raised md-primary" ng-click="controller.subtract('favIngredients', 'currentIng')" ng-hide="!(controller.showOrHide('favIngredients', 'currentIng'))">Favored</md-button>
                        
                    </div>
                </div>
                <div>
                    <br>
                    <br/>
                    <a  ng-click="controller.getInfo(ing)"class='ingredient-link' href="#" ng-repeat="ing in controller.product.ingredients track by $index">
                        {{ing}}, 
                    </a>
                </div>
            </div>
        </div>
        
        
    </div>
</md-content>



