<md-content>
    <div layout="column" flex layout-align="center center">
        <div layout="row" layout-align="center center" flex>
            <div md-whiteframe="12" layout-align="center center"layout="column" flex="45">
                <div layout="row" layout-align="center">
                    <h1>{{controller.product.name}} by {{controller.product.maker}}</h1>
                </div>
                <div ng-repeat="img in controller.product.images">
                    <img width="100%"ng-src="{{img}}">
                </div>
            </div>
            <div flex>
            
            </div>
            <div md-whiteframe="12" layout-margin flex="50" layout="column">
                <h2>What's Inside?</h2>
                <div flex layout="row" layout-align="center">
                    <h1><a class="ingredient-link"href="{{controller.info.data[3][0]}}">{{controller.info.data[1][0]}}</a></h1>
                </div>
                <div flex layout="row" layout-align="center">
                    <p>{{controller.info.data[2][0]}}</p>
                </div>
                <div>
                    <br>
                    <br/>
                    <a  ng-click="controller.getInfo(ing)"class='ingredient-link' href="#" ng-repeat="ing in controller.product.ingredients track by $index">
                        {{ing}}, 
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</md-content>



