
<div layout="column" layout-align="center">
    <md-content layout="row" layout-align="center">
        <div layout="column" flex="40">
            <form layout="column" layout-align="center" ng-submit="controller.register()" name="registerForm">
                <md-input-container>
                    <label>Username:</label>
                    <input type="text" ng-focus="controller.formWorkTrue()" ng-blur="controller.formWorkFalse()"ng-model="controller.user.username" ng-required='true' name="username"/>
                </md-input-container>
                <md-input-container>
                    <label>Password:</label>
                    <input type="password" ng-focus="controller.formWorkTrue()" ng-blur="controller.formWorkFalse()"ng-model="controller.user.hash" ng-required='true' name="password"/>
                </md-input-container>
                <md-input-container>
                    <label>Admin Key:</label>
                    <input type="password" ng-focus="controller.formWorkTrue()" ng-blur="controller.formWorkFalse()"ng-model="controller.user.isAdmin"/>
                </md-input-container>
                <md-input-container>
                    <md-button type="submit" class="md-primary md-raised">Register</md-button>
                </md-input-container>
            </form>
            <div layout="column">
                <span ng-show="registerForm.username.$error.required && registerForm.username.$touched">Username is required</span><br/>
                <span ng-show="registerForm.password.$error.required && registerForm.password.$touched">Password is required</span><br/>                   
                <!-- I want this error message to go away once someone focuses on the fields again -->
                <!-- It also shows up once the form has been submitted, before the redirect. -->
                <span ng-show="registerForm.$submitted && !controller.formWorking">{{controller.regError}}</span><br/>
            </div>
        </div>

    </md-content>
</div>