
<div layout="column" layout-align="center">
    <md-content layout="row" layout-align="center">
        <form layout="column" layout-align="center" ng-submit="controller.register()">
            <md-input-container>
                <label>Username:</label>
                <input type="text" ng-model="controller.user.username"/>
            </md-input-container>
            <md-input-container>
                <label>Password:</label>
                <input type="password" ng-model="controller.user.hash"/>
            </md-input-container>
            <md-input-container>
                <label>Admin Key:</label>
                <input type="password" ng-model="controller.user.isAdmin"/>
            </md-input-container>
            <md-input-container>
                <md-button type="submit" class="md-primary md-raised">Register</md-button>
            </md-input-container>
        </form>
    </md-content>
</div>